<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/estilo1.css}" />
    </head>
    <body class="fondodepagina">
        <!-- comment <header th:replace="layout/plantilla :: header"/>-->
        <h2 class="Tipodeletra">Datos del Estado</h2>
        <a class="Tipodeletra" th:href="@{/}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/guardarEstado}" method="POST"
            th:object="${cliente}">
            <input type="hidden" name="idEstado" th:field="*{idEstado}">
            <label for="Nombre del estado">Nombre del estado: </label>
            <input type="text" id="nommbre" name="nombre" th:field="*{nombre}">
            <br>
            <label for="Capital">Capital: </label>
            <input type="text" id="capital" name="capital" th:field="*{capital}">
            <br>
            <label for="Poblacion">Poblacion: </label>
            <input type="text" id="poblacion" name="poblacion" th:field="*{poblacion}">
            <br>
            <label for="Idioma">Idioma:  </label>
            <input type="text" id="idioma" name="idioma" th:field="*{idioma}">
            <br>
            <input type="submit" name="guardar" value="Guardar">
        </form>
    </body>
</html>
